<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ZeroOne APIs │ Home</title>
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/996447135547539478/1004679216316559410/logo_1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <script src="/js/modernizr.js"></script>

</head>

<body id="top">

    <section id="home" data-parallax="scroll" style="width:100%; height:100%;" data-image-src="images/bg.jpg">
        <script src="sweetalert.min.js"></script>
        <script src="efek-salju.js" type="text/javascript"> </script>
        <div class="overlay"></div>
        <div class="home-content">        
            <div class="row contents">                     
                <div class="home-content-left">
                    <h1>
                        Selamat Datang Di ZeroOne API
                    </h1>
                    <div class="buttons" <!--data-aos="fade-up"-->>
                        <a href="/login" class="button stroke">
                          <i class="fa-solid fa-right-to-bracket"></i>
                             Login
                        </a>
                        <!--<a href="#feature" class="smoothscroll button stroke">
                            <span><i class="fas fa-code"></i></span>
                             Feature
                        </a>-->
                    </div>                                         
                </div>
            </div>
        </div> 
    
        <!--<ul class="home-social-list">
            <li>
                <a href="https://www.instagram.com/alipje29/" target="__blank"><i class="fab fa-instagram fa-lg"></i></a>
            </li>
            <li>
                <a href="https://github.com/AlipBot" target="__blank"><i class="fab fa-github fa-lg"></i></a>
            </li>
            <li>
                <a href="https://alpis.eu.org/" target="__blank"><i class="fas fa-link fa-lg"></i></a>
            </li>
        </ul>
        <div class="home-scrolldown">
            <a href="#feature" class="scroll-icon smoothscroll">
                <span>Scroll</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    </section> 
    
    <section id="feature">
        <div class="row">
            <div class="col-full">
                <h1 class="intro-header"  data-aos="fade-up">Feature</h1>
                <table class="primary" data-aos="fade-up" style="color: white;">
                  <tr>
                    <th style="color: white;">API</th>
                    <th style="color: white;">Jumlah Feature</th>
                    <th style="color: white;">Status</th>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Downloader API</td>
                    <td>12</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Text Pro API</td>
                    <td>20</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cek ID Game API</td>
                    <td>6</td>
                    <td style="color: red;"><i class="fa-solid fa-exclamation"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                  <tr>
                    <td>Cecan API</td>
                    <td>8</td>
                    <td style="color: green;"><i class="fa-solid fa-check"></i></td>
                  </tr>
                </table>
                <!--<p class="lead" data-aos="fade-up">
                    Script Rest API Alpis?<a href="https://github.com/AlipBot/Api-Alpis" target="__blank">Klik Di Sini</a><br>
                    Ada Masalah? Hubungi Saya Via 
                    <a href="https://www.instagram.com/alipje29" target="__blank">Instagram</a>
                </p>
                <div class="primary" data-aos="fade-up">
                    <a class="button button-default" href="https://github.com/AlipBot/Api-Alpis" target="__blank">
                        <span aria-hidden="true"><i class="fas fa-code"></i></span>
                     Script Api Alpis</a>
                </div>
            </div>
        </div>
    
    </section>     -->   

    <footer>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-twelve">
                    <div class="copyright">
                       <font face="Original Surfer" class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2022 - 2023 ZeroOne APIs</font>
                   </div>
                   <!--<div id="go-top">
                      <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
                   </div>         -->
                </div>
            </div>     	
        </div>
      </footer>
  
      <div id="preloader"> 
          <div id="loader"></div>
      </div>  
      <script src="/js/jquery-2.1.3.min.js"></script>
      <script src="/js/plugins.js"></script>
      <script src="/js/main.js"></script>

      <script>
      const typedTextSpan = document.querySelector(".typed-text"),
          textArray = ["ONLINE"],
          typingDelay = 200,
          erasingDelay = 100,
          newTextDelay = 2e3;
      let textArrayIndex = 0,
          charIndex = 0;
      
      function type() { charIndex < textArray[textArrayIndex].length ? (typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex), charIndex++, setTimeout(type, 200)) : setTimeout(erase, 2e3) }
      
      function erase() { charIndex > 0 ? (typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1), charIndex--, setTimeout(erase, 100)) : (textArrayIndex++, textArrayIndex >= textArray.length && (textArrayIndex = 0), setTimeout(type, 1300)) }
      document.addEventListener("DOMContentLoaded", (function() { setTimeout(type, 2250) }));
      
      $(document).ready((function() {
          $(".changeprofile").submit((function(e) {
              var formObj, formURL = $(this).attr("action"),
                  formData = new FormData(this);
              $.ajax({ url: formURL, type: "POST", data: formData, contentType: !1, cache: !1, processData: !1, beforeSend: function() { $("button").attr("disabled", "disabled"), $("input").attr("disabled", "disabled"), $("a").attr("disabled", "disabled"), $(".inibutton").html('<i class="fas fa-spinner fa-spin"></i> Wait') }, success: function(data) { data.includes("Success") ? ($("button").removeAttr("disabled", "disabled"), $("a").removeAttr("disabled", "disabled"), $("input").removeAttr("disabled", "disabled"), $(".inibutton").html("Save"), $.notify({ icon: "tim-icons icon-check-2", message: data }, { type: "success", timer: 3e3, placement: { from: "top", align: "right" } }), window.location = window.location) : ($("button").removeAttr("disabled", "disabled"), $("a").removeAttr("disabled", "disabled"), $("input").removeAttr("disabled", "disabled"), $(".inibutton").html("Save"), $.notify({ icon: "tim-icons icon-simple-remove", message: data }, { type: "danger", timer: 3e3, placement: { from: "top", align: "right" } })) } }), e.preventDefault()
          }))
      }))
      
      </script>
  </body>
  </html>
